<div class="container below-fixed-navbar">
    <h1>Control Console</h1>
    <hr/>
    <button type="button"
            class="btn btn-lg btn-wide btn-game"
            [class.btn-success]="!isGameInProgress"
            [class.btn-danger]="isGameInProgress"
            [(ngModel)]="isGameInProgress"
            (ngModelChange)="onGameStartedChange($event)"
            [ngModelOptions]="{standalone: true}"
            btnCheckbox>
        {{isGameInProgress ? 'Stop' : 'Start'}} Game
    </button>
    <button type="button"
            class="btn btn-lg btn-wide btn-game btn-warning"
            (click)="onResetQuestion()">
        Reset Question
    </button>
    <hr/>
</div>
<div class="container">
    <h2>New Question</h2>
    <form (ngSubmit)="onNewQuestionSubmit()" ngNativeValidate>
        <div class="form-group">
            <label for="newValue">Value:</label>
            <div class="input-group">
                <div class="input-group-addon">$</div>
                <input class="form-control" id="newValue" type="number"
                       [disabled]="wagersEnabledModel"
                       placeholder="Enter question value in dollars here"
                       [(ngModel)]="valueModel" required [ngModelOptions]="{standalone: true}">
                <div class="input-group-btn" dropdown>
                    <button dropdownToggle type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Values <span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
                        <ng-container *ngFor="let value of defaultValues">
                            <li><a href="javascript:void(0);" (click)="onDefaultValueSelection(value)">${{value}}</a></li>
                        </ng-container>
                        <li role="separator" class="divider"></li>
                        <ng-container *ngFor="let value of defaultValues">
                            <li><a href="javascript:void(0);" (click)="onDefaultValueSelection(value*2)">${{value*2}}</a></li>
                        </ng-container>
                    </ul>
                </div>
            </div>
            <button type="button" class="btn btn-info wager-btn submit"
                    [(ngModel)]="wagersEnabledModel" [ngModelOptions]="{standalone: true}"
                    btnCheckbox>
                {{wagersEnabledModel ? 'Disable' : 'Enable'}} Wagers
            </button>
            <button class="btn btn-primary submit" type="submit">Submit</button>
        </div>
    </form>
    <hr/>
</div>
<div class="container">
    <div *ngIf="question">
        <h2>Latest Question</h2>
        <div class="form-group">
            <label for="value">Value:</label>
            <span id="value" *ngIf="!question?.wagerRequired">{{question?.value | currency:"USD":'symbol'}}</span>
            <span id="value" *ngIf="question?.wagerRequired">Player Specified</span>
        </div>
        <div class="form-group">
            <label for="asked">Asked:</label>
            <span id="asked">{{question?.key | millisecondsDate}}</span>
        </div>
    </div>
    <div *ngIf="(submissions | async)?.length > 0">
        <label for="list">Submissions:</label>
        <div class="table-responsive">
            <table id="list" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Player</th>
                    <th>Submitted</th>
                    <td class="table-btn"></td>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let idx = index; let submission of submissions | async">
                    <td>{{ getUser((users | async),submission.user)?.name }}</td>
                    <td class="submitted-info">
                        <ng-container *ngIf="!question?.wagerRequired">
                            {{ submission.submitted_on | millisecondsDate }}
                        </ng-container>
                        <ng-container *ngIf="question?.wagerRequired">
                            <div class="form-group">
                                <label>Date:</label>
                                <span>{{ submission.submitted_on | date }}</span>
                            </div>
                            <div class="form-group">
                                <label>Time:</label>
                                <span>{{ submission.submitted_on | millisecondsTime }}</span>
                            </div>
                            <div class="form-group" *ngIf="submission.text">
                                <label>Guess:</label>
                                <span>{{ submission.text }}</span>
                            </div>
                            <div class="form-group">
                                <label>Wager:</label>
                                <span>{{ submission.wager | currency:"USD":'symbol'}}</span>
                            </div>
                        </ng-container>
                    </td>
                    <td class="table-btn">
                        <div class="btn-group" *ngIf="isAllowedToAnswer(idx, answerModel)">
                            <label class="btn btn-primary"
                                   (ngModelChange)="onAnswerStateChange(submission.user, $event, idx, submission.wager)"
                                   [(ngModel)]="answerModel[idx]" btnRadio="true" uncheckable>
                                <i class="fa fa-check"></i>
                            </label>
                            <label class="btn btn-primary"
                                   (ngModelChange)="onAnswerStateChange(submission.user, $event, idx, submission.wager)"
                                   [(ngModel)]="answerModel[idx]" btnRadio="false" uncheckable>
                                <i class="fa fa-times"></i>
                            </label>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
