.btn:focus {
    outline: none;
}

.btn-game {
    margin-top: 10px;
}

h2 {
    margin-bottom: 20px;
}

td {
    vertical-align: middle !important;
    white-space: normal !important;
}

.table-btn {
    min-width: 130px;
    width: 130px;
    padding: 4px;
}

.table-btn div {
    width: 100%;
}

.table-btn div label {
    width: 50%;
}

hr {
    margin-bottom: 0px;
    margin-top: 0px;
}

.submit {
    margin-top: 10px;
}

.btn-wide {
    width: 100%;
    margin-bottom: 10px;
}

.wager-btn {
    width: 124px;
}

.submitted-info .form-group {
    margin-bottom: 5px;
}

.submitted-info .form-group:last-child {
    margin-bottom: 0px;
}
