.container-fluid {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.btn-container {
    flex: 5;
}

.btn-big {
    width: 100%;
    height: 100%;
}

.btn:focus {
    outline: none;
}

.btn .fa {
    font-size: 300px;
}

h2 {
    text-align: center;
    margin-top: 10px;
}

.place {
    font-size: 300px;
}

.footer > * {
    width: 50%;
}

.right-footer {
    text-align: right;
}

.left-footer {
    text-align: left;
}

.jumbotron {
    margin-bottom: 0px;
}