<div class="container-fluid">
    <div>
        <span>
            <h2 class="info">{{ name | async }}</h2>
        </span>
    </div>
    <div class="btn-container">
        <button [disabled]="(place | async) > 0" *ngIf="(place | async)" type="button"
                (click)="onClick()" class="btn btn-primary btn-big">
            <i *ngIf="(place | async) < 0" class="fa fa-question-circle-o" aria-hidden="true"></i>
            <span *ngIf="(place | async) > 0" class="place">{{ place | async }}</span>
        </button>
    </div>
    <div>
        <span>
            <h2 [style.color]="getColor(money)" class="info">{{ money | currency:'USD':true }}</h2>
        </span>
    </div>
</div>

