<div class="container-fluid below-fixed-navbar above-fixed-navbar">
    <ng-container *ngIf="isGameInProgress; then controls else gameOverScreen"></ng-container>
    <ng-template #controls>
        <button type="button"
                *ngIf="answer == null; else answerStatus"
                [disabled]="((userWhoCanAnswerLoading || userWhoCanAnswer || submissionLoading) && !question?.wagerRequired) || (question?.wagerRequired && submission?.text)"
                (click)="onQuestionButtonClick()"
                class="btn btn-primary btn-big btn-container btn-buzzer">
            <ng-container *ngIf="(!userWhoCanAnswerLoading && !submissionLoading); else loadingSpinner">
                <ng-container *ngIf="question?.wagerRequired; else nonWagerQuestion">
                    <ng-container *ngIf="submission?.wager; else noWagerYet">
                        <ng-container *ngIf="submission?.text; else noGuessYet">
                            <p class="guess">
                                Your Guess:<br>
                                {{submission.text}}
                            </p>
                        </ng-container>
                        <ng-template #noGuessYet>
                            <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                        </ng-template>
                    </ng-container>
                    <ng-template #noWagerYet>
                        <ng-container *ngIf="!submission?.text">
                            <i class="fa fa-usd" aria-hidden="true"></i>
                        </ng-container>
                    </ng-template>
                </ng-container>
                <ng-template #nonWagerQuestion>
                    <i *ngIf="!userWhoCanAnswer" class="fa fa-question-circle-o" aria-hidden="true"></i>
                    <span *ngIf="userWhoCanAnswer" class="place">
                        <ng-container *ngIf="userWhoCanAnswer.key === userId; else otherUser">
                            You!
                        </ng-container>
                        <ng-template #otherUser>
                            {{ userWhoCanAnswer.name }}
                        </ng-template>
                    </span>
                </ng-template>
            </ng-container>
            <ng-template #loadingSpinner>
                <i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
            </ng-template>
        </button>
        <ng-template #answerStatus>
            <button [disabled]="true"
                    *ngIf="answer.correct; else answerIncorrect"
                    type="button"
                    class="btn btn-success btn-big btn-container">
                <i class="fa fa-check" aria-hidden="true"></i>
            </button>
            <ng-template #answerIncorrect>
                <button [disabled]="true"
                        type="button"
                        class="btn btn-danger btn-big btn-container">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </ng-template>
        </ng-template>
    </ng-template>
    <ng-template #gameOverScreen>
        <div class="jumbotron btn-big btn-container">
            <h1>It's over!</h1>
            <p>The game is over for now. Come back later for more chances at victory!</p>
        </div>
    </ng-template>
</div>

<nav class="navbar navbar-inverse navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header footer">
            <p class="navbar-brand left-footer">
                <span *ngIf="isGameInProgress && question">
                    <ng-container *ngIf="question?.wagerRequired && submission?.wager">
                      <i class="fa fa-question-circle-o"></i>
                      {{ (submission?.wager ? submission?.wager : 0) | currency:'USD':'symbol' }}
                    </ng-container>
                    <ng-container *ngIf="!question.wagerRequired">
                      <i class="fa fa-question-circle-o"></i>
                      {{ (question?.value ? question?.value : 0) | currency:'USD':'symbol' }}
                    </ng-container>
                </span>
            </p>
            <div class=" navbar-brand right-footer">
                <span [style.color]="getColor(score)">
                    {{ score | currency:'USD':'symbol' }}
                </span>
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</nav>
<div class="modal fade" bsModal #wagerModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Enter a wager</h4>
                <button type="button" class="close pull-right" (click)="onWagerModalCloseClick()">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="onWagerSubmit()" ngNativeValidate>
                    <div class="form-group" [class.has-error]="wagerHasError">
                        <div class="input-group">
                            <div class="input-group-addon">$</div>
                            <input type="number" step="0.01" class="form-control"
                                   [(ngModel)]="wagerModel"
                                   (ngModelChange)="onWagerChange()"
                                   required [ngModelOptions]="{standalone: true}">
                        </div>
                        <span *ngIf="wagerHasError" class="help-block">
                            The amount of your wager cannot exceed $2000.00.
                        </span>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" bsModal #guessModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Enter a guess</h4>
                <button type="button" class="close pull-right" (click)="onGuessModalCloseClick()">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="onGuessSubmit()" ngNativeValidate>
                    <div class="form-group">
                        <label for="guess-input" class="col-2 col-form-label">Guess</label>
                        <div class="col-10">
                            <input class="form-control"
                                   type="text"
                                   id="guess-input"
                                   [(ngModel)]="guessModel"
                                   required [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
