<div class="container-fluid below-fixed-navbar above-fixed-navbar">
    <button type="button"
            [disabled]="((placeLoading || (place | async) > 0 || submissionLoading) && (question | async)?.wagerRequired !== true)
                    || ((question | async)?.wagerRequired === true && (submission | async)?.text)"
            *ngIf="(submission | async) && (place | async) && (isGameInProgress | async) === true
                    && ((isAnswerCorrect | async) != true && (isAnswerCorrect | async) != false)"
            (click)="onQuestionButtonClick()"
            class="btn btn-primary btn-big btn-container">
        <i *ngIf="placeLoading || submissionLoading" class="fa fa-refresh fa-spin" aria-hidden="true"></i>
        <ng-container *ngIf="!placeLoading && !submissionLoading">
            <ng-container *ngIf="(question | async)?.wagerRequired !== true">
                <i *ngIf="(place | async) < 0" class="fa fa-question-circle-o" aria-hidden="true"></i>
                <span *ngIf="(place | async) > 0" class="place">{{ place | async }}</span>
            </ng-container>
            <ng-container *ngIf="(question | async)?.wagerRequired">
                <ng-container *ngIf="(submission | async)?.wager >= 0">
                    <ng-container *ngIf="!((submission | async)?.text)">
                        <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                    </ng-container>
                    <ng-container *ngIf="(submission | async)?.text">
                        <p class="guess">
                            Your Guess:<br>
                            {{(submission | async)?.text}}
                        </p>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="!((submission | async)?.wager >= 0)">
                    <ng-container *ngIf="!(submission | async)?.text">
                        <i class="fa fa-usd" aria-hidden="true"></i>
                    </ng-container>
                </ng-container>
            </ng-container>
        </ng-container>
    </button>
    <button [disabled]="(place | async) > 0"
            *ngIf="(place | async) && (isGameInProgress | async) === true && (isAnswerCorrect | async) == true"
            type="button"
            class="btn btn-success btn-big btn-container">
        <i class="fa fa-check" aria-hidden="true"></i>
    </button>
    <button [disabled]="(place | async) > 0"
            *ngIf="(place | async) && (isGameInProgress | async) === true && (isAnswerCorrect | async) == false"
            type="button"
            class="btn btn-danger btn-big btn-container">
        <i class="fa fa-times" aria-hidden="true"></i>
    </button>
    <div *ngIf="(isGameInProgress | async) === false" class="jumbotron btn-big btn-container">
        <h1>It's over!</h1>
        <p>The game is over for now. Come back later for more chances at victory!</p>
    </div>
</div>
<nav class="navbar navbar-inverse navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header footer">
            <p class="navbar-brand left-footer">
                <span *ngIf="(isGameInProgress | async) === true && (question | async)">
                    <ng-container *ngIf="(question | async)?.wagerRequired && (submission | async)?.wager >= 0">
                      <i class="fa fa-question-circle-o"></i>
                      {{ ((submission | async)?.wager >= 0 ? (submission | async)?.wager : 0) | currency:'USD':true }}
                    </ng-container>
                    <ng-container *ngIf="!(question | async)?.wagerRequired">
                      <i class="fa fa-question-circle-o"></i>
                      {{ ((question | async)?.value ? (question | async)?.value : 0) | currency:'USD':true }}
                    </ng-container>
                </span>
            </p>
            <div class=" navbar-brand right-footer">
                <span [style.color]="getColor(money | async)">
                    {{ money | async | currency:'USD':true }}
                </span>
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</nav>
<div class="modal fade" bsModal #wagerModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Enter a wager</h4>
                <button type="button" class="close pull-right" (click)="onWagerModalCloseClick()">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="onWagerSubmit()" ngNativeValidate>
                    <div class="form-group" [class.has-error]="wagerHasError">
                        <div class="input-group">
                            <div class="input-group-addon">$</div>
                            <input type="number" step="0.01" class="form-control"
                                   [(ngModel)]="wagerModel"
                                   (ngModelChange)="onWagerChange()"
                                   required [ngModelOptions]="{standalone: true}">
                        </div>
                        <span *ngIf="wagerHasError" class="help-block">
                            The amount of your wager cannot exceed $2000.00.
                        </span>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" bsModal #guessModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Enter a guess</h4>
                <button type="button" class="close pull-right" (click)="onGuessModalCloseClick()">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="onGuessSubmit()" ngNativeValidate>
                    <div class="form-group">
                        <label for="guess-input" class="col-2 col-form-label">Guess</label>
                        <div class="col-10">
                            <input class="form-control"
                                   type="text"
                                   id="guess-input"
                                   [(ngModel)]="guessModel"
                                   required [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

