<ng-container *ngIf="isInitialized">
<div>
  <nav class="navbar navbar-inverse navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <p class="navbar-brand">{{ userName | async }}</p>
      </div>
      <div class="collapse navbar-collapse" [collapse]="isCollapsed">
        <ul class="nav navbar-nav">
          <li *ngIf="(isHost | async)" routerLinkActive="active">
            <a routerLink="/game/host" (click)="isCollapsed=true">Control Console</a>
          </li>
          <li *ngIf="!(isHost | async)" routerLinkActive="active">
            <a routerLink="/game/player" (click)="isCollapsed=true">Buzzer</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/game/scoreboard" (click)="isCollapsed=true">Scoreboard</a>
          </li>
          <li>
              <audio #audioPlayer loop>
                  <source src="http://www.televisiontunes.com/uploads/audio/Jeopardy%20-%201997%20-%20Think%20Music.mp3" type="audio/mpeg">
              </audio>
              <a href="javascript:void(0)" (click)="isCollapsed=true;toggleAudio()">{{audioPlaying ? 'Pause' : 'Play'}} Song</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
</ng-container>
<div *ngIf="!isInitialized" class="spinner loading"></div>
