<div class="container below-fixed-navbar">
    <h1>Scoreboard</h1>
    <div class="input-group datepicker" >
        <input type="text"
               class="form-control"
               [(ngModel)]="dateRange"
               (ngModelChange)="onDateSelection($event)"
               #daterangepicker="bsDaterangepicker"
               bsDaterangepicker
               [bsConfig]="{ rangeInputFormat: 'MMMM D, YYYY' }">
        <span class="input-group-btn" dropdown>
            <button class="btn btn-default dropdown-toggle" dropdownToggle aria-controls="dropdown-basic">
                <i class="glyphicon glyphicon-calendar"></i>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-basic">
                <li role="menuitem">
                    <a class="dropdown-item" href="javascript:void(0);" (click)="onDateSelection(this.thisMonth)">This Month</a>
                </li>
                <li role="menuitem">
                    <a class="dropdown-item" href="javascript:void(0);" (click)="onDateSelection(this.lastMonth)">Last Month</a>
                </li>
                <li role="menuitem">
                    <a class="dropdown-item" href="javascript:void(0);" (click)="onDateSelection(this.thisYear)">This Year</a>
                </li>
                <li role="menuitem">
                    <a class="dropdown-item" href="javascript:void(0);" (click)="onDateSelection(this.lastYear)">Last Year</a>
                </li>
                <li role="menuitem">
                    <a class="dropdown-item" href="javascript:void(0);" (click)="daterangepicker.toggle()">Custom Range</a>
                </li>
            </ul>
        </span>
    </div>

    <div *ngIf="userScores && userScores.length > 0" class="table-responsive">
        <table id="list" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th style="width:10%">#</th>
                <th style="width:45%">Player</th>
                <th style="width:45%">Score</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let idx = index; let userScore of userScores">
                <td>{{idx + 1}}</td>
                <td>{{ userScore.name | titlecase }}</td>
                <td [style.color]="userScore.value < 0 ? '#d80000': 'black'">
                    {{ userScore.value | currency:'USD':'symbol' }}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <h4 *ngIf="userScores && userScores.length < 1" >No results found</h4>
    <div *ngIf="!userScores" class="spinner loading"></div>
</div>
